{% extends 'base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<div class="container">
    <div class="row">
       <div class="col-md-3" style="width: 40%; height: auto;">
          <div class="osahan-account-page-left shadow-sm bg-white h-100" style="height: 100%;">
                  <div class="border-bottom p-4">
                      <div class="osahan-user text-center">
                          <div class="osahan-user-media">
                              <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="gurdeep singh osahan">
                              <div class="osahan-user-media-body">
                                  <h6 class="mb-2">John Doe</h6>
                                  <p class="mb-1">+123 456 789</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i> Favorites</a>
                      </li>
                  </ul>
              </div>
          </div>
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Favorites</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-4 pb-2">
                                <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                  {%for product in products%}
                                  <div class="list-card-image">
                                        <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1 (300+)</span></div>
                                        <div class="favourite-heart text-danger position-absolute"><a href="#"><i class="icofont-heart"></i></a></div>
                                        <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
                                        <a href="{% url 'shop_detail' product.id%}">
                                            <img src="img/list/4.png" class="img-fluid item-img">
                                        </a>
                                    </div>
                                    <div class="p-3 position-relative">
                                        <div class="list-card-body">
                                            <h6 class="mb-1"><a href="{% url 'shop_detail' product.id%}" class="text-black">Product: {{product.name}}
                                             </a>
                                          </h6>
                                            <p class="text-gray mb-3">Category: {{product.category.name}}</p>
                                            <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> </span> <span class="float-right text-black-50"> {{product.price}} {{product.price_type}}</span></p>
                                        </div>
                                    </div>
                                  {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}